body
{
  font-family: Open sans, Helvetica;
  font-size: 12px;
}

h1
{
  font-weight: lighter;
}

small
{
  color: none;
}

div.checkbox_select
{
  width: 200px;
}

.checkbox_select_anchor
{
  display: block;
  background: none;
  color: #cccccc;
  cursor: pointer;
  padding: 10px 5px 5px;
  position: relative;
  border: 1px solid #cccccc;
}

.checkbox_select_anchor:after
{
  width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
  content: "";
  position: absolute;
  right: 10px;
  top: 15px;
}

.expanded .checkbox_select_anchor:after
{
	border-top: 0;
	border-bottom: 5px solid white;
}


.checkbox_select_anchor:hover
{
  background: #F8F8FF !important;
}

.expanded .checkbox_select_anchor
{
    background: #000000 ;
}

div.checkbox_select .select_input
{
    width: 100%;
    cursor: pointer;
}

.checkbox_select_dropdown
{
    display: none;
    background: whitesmoke;
}

.checkbox_select_dropdown.show
{
    display: block;
}

.checkbox_select_dropdown ul
{
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    border: 1px solid #999;
    border-top: 0;
    border-bottom: 0;
    padding-left: 3px;
}
.checkbox_select_dropdown ul li
{
    list-style: none;
    position: relative;
    color: #666;
}
.checkbox_select_dropdown ul li label
{
  position: relative;
      padding: 10px 5px 5px 30px;
     display: block;
  cursor: pointer;
}
.checkbox_select_dropdown ul li label:hover
{
  background: #d6d6d6;
  color: white;
}
.checkbox_select_dropdown ul li input:checked + label
{
  background: #bbb;
  color: white;
  text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}
.checkbox_select_dropdown ul li input
{
  position: absolute;
  left:0;
  z-index:1;
  display: inline-block;
  height: 100%;
  width: 30px;
}
.checkbox_select_search
{
    width: 200px;
    padding: 8px 3px 3px;
    border: 1px solid #CCB8B8;
      border-top: 0;
    -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
}

.checkbox_select_submit
{
    background: #000000 ;
    color: white;
    padding: 10px 5px 5px;
    border: 0;
    width: 100%;
    font-size: 12px;
    cursor: pointer;
}

.hide
{
    display: none;
}

